<!DOCTYPE html>
<html>
<head>
	<title>Personas</title>
</head>
<body>
<form action="/personas" method="post" accept-charset="utf-8">
	<input type="text" name="rfc" id="rfc">
	<input type="text" name="nombre" id="nombre">
	<input type="text" name="app" id="app">
	<input type="text" name="apm" id="apm">
	<select name="sexo" id="sexo">
		<option value="">Seleccione una opción</option>
		<option value="Femenino">Femenino</option>
		<option value="Masculino">Masculino</option>
	
	</select>
	<input type="text" name="rfc" id="rfc">
	<input type="text" name="rfc" id="rfc">
	
</form>
</body>
</html>